<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="adminPanelPage/style.css">
        <script src="adminPanelPage/script.js"></script>
    </head>
    <body>
        <header>
            <div class="header-main-div">
                <div class="header-icon-div"></div>
                <div class="header-text-div">Chat bot administrator pannel</div> 
            </div>
        </header>
        <div class="main-body-div">
            <div class="bot-display-div">
                <div class="bot-display-title-div">
                    <p class="bot-display-title-text">List of available bots</p>
                </div>
                <div class="bot-search-div">
                    <input class="bot-search-input" id="botSearchInput" type="text" placeholder="Search for a specific bot">
                </div>
                <div class="bot-list-div">
                    <ul class="bot-list" id="botsList">
                    </ul>
                </div>
                <div class="bot-add-div">
                    <button class="bot-add-button" id="botCreateButton">Create a new bot</button>
                </div>
            </div>
            <div class="bot-main-div" id="botMainDiv">
                
            </div>
        </div>
    </body>
</html>