<!DOCTYPE html>
<html>
    <div class="bot-add-form-main-div" id="createBot">
        <div class="bot-add-form-title-div">
            <p class="bot-add-form-title-text">New bot creation</p>
        </div>
        <div class="bot-add-form-div">
            <div class="bot-add-form-div-name"><p class="bot-add-form-text-name">Name :</p></div>
            <input type="text" class="bot-add-form-input-name" placeholder="Enter a name for the bot" id="botCreateNameInput">
        </div>
        <div class="bot-add-form-buttons-div">
            <button class="bot-add-form-button" id="botCancelAddButton">Cancel</button>
            <button class="bot-add-form-button" id="botAddButton">Add</button>
        </div>
    </div>
</html>