<!DOCTYPE html>
<html>
    <div class="bot-details-main-div" id="detailsBot">
        <div class="bot-details-title-div">
            <p class="bot-details-title-text" id="botDetailsTitleText"></p>
        </div>
        <div class="bot-details-div">
            <div class="bot-details-div-name"><p class="bot-details-text-name">Name :</p></div>
            <input type="text" class="bot-details-input-name" id="botDetailsNameInput" disabled>
        </div>
        <div class="bot-details-buttons-div" id="botDetailsButtonsDiv">
            <button class="bot-details-button" id="botChatButton">Chat</button>
            <button class="bot-details-button" id="botModifyButton">Modify</button>
            <button class="bot-details-delete-button" id="botDeleteButton">Delete</button>
        </div>
    </div>
</html>