<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        <!-- Temp Favicon Error Fix-->
        <script src="chatPage/script.js"></script>
      </head>
    
 
<body style="margin-left: 10px;">
    <div><h1 id="title"></h1> </div>
    

    <div id="chat-with-robot">
       <div id="content">
            <textarea id="chat_content" style="width: 500px ; height: 300px; " disabled="true">

            </textarea>

       </div>
       <div id="send">
           <input id="msg_send" style="width: 450px;"></input>
		   <button id="button_send">send</button>
       </div>
    </div>
</body>
 
</html>
